.bubble-top-right,
.bubble-bottom-right,
.bubble-center-right {
  &:before {
    content: '';
    box-shadow: 0 0 0 50px rgba(99, 102, 241, .07), 0 0 0 100px rgba(99, 102, 241, .03);
  }
}

.bubble-top-right:before {
  @include primaryGradiend;
  @apply absolute top-0 left-0 w-full pt-full;
  border-bottom-right-radius: 50%;
}

.bubble-center-right:before {
  @include primaryGradiend;
  @apply absolute top-1/2;
  border-radius: 50%;
  right: -100%;
  width: 150%;
  padding-top: 150%;
  transform: translateY(-50%);
}

.bubble-bottom-right:before {
  @include primaryGradiend;
  @apply absolute;
  width: 150%;
  padding-top: 150%;
  right: -50%;
  bottom: -20%;
  border-top-left-radius: 50%;
}
