.page-enter-active,
.page-leave-active {
  position: absolute;
  transition: opacity .2s ease, transform .2s ease;
}

.page-enter-active {
  z-index: 9;
}

.page-enter-from {
  transform: translateY(50%);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}


.bubble-top-right,
.bubble-bottom-right,
.bubble-center,
.bubble-center-right,
.bubble-top-center {
  &:before {
    content: '';
    box-shadow: 0 0 0 50px rgba(99, 102, 241, .07), 0 0 0 100px rgba(99, 102, 241, .03);
  }
}

.bubble-top-right:before {
  @include primaryGradiend;
  @apply absolute top-0 left-0 w-full pt-full;
  border-bottom-right-radius: 50%;
}

.bubble-center-right:before {
  @include primaryGradiend;
  @apply absolute top-1/2;
  border-radius: 50%;
  right: -100%;
  width: 150%;
  padding-top: 150%;
  transform: translateY(-50%);
}

.bubble-bottom-right:before {
  @include primaryGradiend;
  @apply absolute;
  width: 150%;
  padding-top: 150%;
  right: -50%;
  bottom: -20%;
  border-top-left-radius: 50%;
}

.bubble-center:before {
  @include primaryGradiend;
  @apply absolute;
  width: 150%;
  padding-top: 150%;
  border-radius: 50%;
}

.bubble-top-center:before {
  @include primaryGradiend;
  @apply absolute;
  width: 150%;
  padding-top: 150%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
