.spinner {
    svg {
        @apply w-full h-full;
        animation: rotate 2s linear infinite;

        circle {
            stroke: theme('colors.primary.500');
            stroke-linecap: round;
            animation: dash 1.5s ease-in-out infinite;
        }
    }

    &--white svg circle {
        stroke: theme('colors.white');
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
